.cards {
    min-height: 100vh;
    background-color: $grey;
    margin-top: 3rem;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 30px;

    @media screen and (max-width: 1301px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        margin-top: 3rem;
    }

    @media screen and (max-width: 860px) {
        grid-template-columns: 1fr;
    }

    @media screen and (max-width: 521px) {
        padding: 0;
        grid-row-gap: 20px;
        background-color: $white;
        margin-top: 2rem;
    }
}
