.appartment-tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    .appartment-tag {
        margin-top: 10px;
        font-size: 14px;
        min-width: 40px;
        max-width: fit-content;
        padding: 5px 20px;
        background-color: $orange;
        border-radius: 10px;
        color: $white;
        margin-right: 10px;

        @media screen and (max-width: 767px) {
            font-size: 10px;
        }
    }
}
